# Reinforcement Learning Notwbook

In [1]:
from RobotEnvClass import Q_Learning, SARSA_learning, Q_Learning_Randomness
import numpy as np
import matplotlib.pyplot as plt

## Q Learning

In [2]:
q_learning = Q_Learning(dims=(3,3),
                        rewards={'r_time':-1, 'r_pond':-5, 'r_croissant':5, 'r_cogs':5, 'r_work':10},
                        start=(0,0),
                        end=(2,2),
                        positions={'pond':[(1,0)], 'cogs':[(2,0)], 'croissant': [(0,2)]},
                        tubes=[[(1,2),(2,1)]],
                        walls=[[(0, 1), (0, 2)]],
                        max_steps=100,
                        max_episodes=10
                       )
st = q_learning.visualise_world()
print(st)

X  X  X  X  X  X  X
X  S     .  X  C  X
X                 X
X  P     .     T0 X
X                 X
X  G     T0    E  X
X  X  X  X  X  X  X

key:
S  = start location for agent
E  = end location for agent
.  = empty cell
X  = boundary or wall beetween cells
Tn = nth Tube start or end. Agent can travel between the two Tn in one time step
P  = pond: falling in is cold and wet
G  = cog: agent is rewarded for collecting
C  = croissant: agent is rewarded for collecting

In [3]:
q_learning.display_matrix(q_learning._R)

     0    1    2    3    4    5    6    7     8
0  NaN -1.0  NaN -5.0  NaN  NaN  NaN  NaN   NaN
1 -1.0  NaN  NaN  NaN -1.0  NaN  NaN  NaN   NaN
2  NaN  NaN  NaN -5.0  NaN -1.0  NaN  NaN   NaN
3 -1.0  NaN  5.0 -5.0 -1.0  NaN  5.0  NaN   NaN
4  NaN -1.0  NaN -5.0  NaN -1.0  NaN -1.0   NaN
5  NaN  NaN  5.0  NaN -1.0  NaN  5.0 -1.0  10.0
6  NaN  NaN  NaN -5.0  NaN  NaN  NaN -1.0   NaN
7  NaN  NaN  NaN  NaN -1.0 -1.0  5.0  NaN  10.0
8  NaN  NaN  5.0  NaN  NaN -1.0  NaN -1.0  10.0

In [3]:
%%time
Q, Rtot = q_learning.learn(1,0.8,0.9)

CPU times: user 15.4 s, sys: 55.1 ms, total: 15.4 s
Wall time: 15.4 s

In [4]:
q_learning.display_matrix(Q, 25)

,25,26,27,28,29,30,31,32,33,34,35
25,0.000000,66.111111,0.000000,0.000000,0.0,0.000000,66.111111,0.000000,0.000000,0.000000,0.0
26,52.688889,0.000000,32.888889,0.000000,0.0,0.000000,0.000000,82.888889,0.000000,0.000000,0.0
27,0.000000,66.111111,32.888889,41.951111,0.0,0.000000,0.000000,0.000000,66.111111,0.000000,0.0
28,0.000000,0.000000,32.888889,0.000000,39.8,0.000000,0.000000,0.000000,0.000000,52.688889,0.0
29,0.000000,0.000000,0.000000,41.951111,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,50.0
30,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,66.111111,0.000000,0.000000,0.000000,0.0
31,52.688889,0.000000,0.000000,0.000000,0.0,52.688889,0.000000,82.888889,0.000000,0.000000,0.0
32,0.000000,66.111111,0.000000,0.000000,0.0,0.000000,66.111111,0.000000,0.000000,0.000000,0.0
33,0.000000,0.000000,32.888889,0.000000,0.0,0.000000,0.000000,82.888889,0.000000,52.688889,0.0
34,0.000000,0.000000,0.000000,41.951111,0.0,0.000000,0.000000,0.000000,66.111111,0.000000,50.0
35,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0